@model ZenithDataLib.Models.Event

@{
    ViewBag.Title = "Edit for this event";
}

<h2>Edit for this event</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Event</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EventId)
        @Html.HiddenFor(model => model.CreationDate)
        @Html.HiddenFor(model => model.UserName)

        @{
            // Int32 unixTimestamp = (Int32)(DateTime.UtcNow.Subtract(new DateTime(1970, 1, 1))).TotalSeconds;
            string a = Model.EventFrom.ToString("yyyy-MM-dd" + "T" + "HH:mm:ss");
            string b = Model.EventTo.ToString("yyyy-MM-dd" + "T" + "HH:mm:ss");
        }

        <div class="form-group">
            @Html.LabelFor(model => model.EventFrom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="EventFrom" type="datetime-local" name="EventFrom" class="form-control" value="@a">
                @Html.ValidationMessageFor(model => model.EventFrom, "", new { @class = "text-danger" })
            </div>
        </div>

       

        <div class="form-group">
            @Html.LabelFor(model => model.EventTo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="EventTo" type="datetime-local" name="EventTo" class="form-control" value="@b">
                @Html.ValidationMessageFor(model => model.EventTo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ActivityId, "ActivityId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ActivityId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ActivityId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
